<section class="wrapper">
  <h3>If we use mutable objects that are shared among multiple components,
    Angular cannot know about when those components can be affected.
    A component can affect any other components in the system.
    That is why, by default, Angular does not make any assumptions about what
    a component depends upon. So it has be conservative and check every template
    of every component on every browser event. Since the framework has to do it
    for every component, it might become a performance problem even though the
    change detection in the new versions of Angular got way faster.</h3>

  <h3>
    <a href="https://blog.nrwl.io/essential-angular-change-detection-fe0e868dcc00"
       target="_blank">post explaining this topic</a>
  </h3>

  <app-child-json-printer [obj]="fakeData"></app-child-json-printer>
  <br><br>

  <app-about></app-about>
  <br><br>

  <app-todolist [initialData]="list"></app-todolist>

</section>
